/*******************************************
            Adding CSS Reset
********************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************
                My Styles 
********************************************/
/*******************
    Basic Styles
*******************/
/* adding color palette */
:root {
    --primary-color: #F1ECF0;
    --secondary-color: #9C939F;
    --tertiary-color: #DCF2DD;
    --background-color: #FAFAFA;
}

body{
    background-color: var(--tertiary-color);
}
/* setting font hierarchy */

p {
    font-size: 18px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 2rem 2rem 4rem;
    
}
h2 {
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 1rem;
}



/* adding font */
/*******************
    Navigation
*******************/

/* styling the logo */

.logo {
    width: 8rem;
    padding: 1rem;
}

/* styling nav items */

.nav-icons {
    height: 2.5rem;
    padding-bottom: .5rem;
    text-align: center;
}

/*******************
    Content
*******************/

/* styling the container */
#container {
    background-color: var(--background-color);

}

/* styling the home page banner */
.banner {
    /* making the image responsive */
   max-width: 100%;
   height: auto;
   /* centering the image */
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}

/*******************
    Search Bar
*******************/

/* styling the search function */

.form-container {
    background-color: var(--secondary-color);
    margin-top: 4rem;
}
.search {
    width: 50%;
    border: none;
    padding: 2rem;

    border-radius: 3rem;
    border: .2rem solid var(--tertiary-color);
}

.search-icon {
    width: 2rem;
    padding: 1rem;
}

/* making the search button overlap the input form */
.search-submit {
    border: .2rem solid var(--tertiary-color);
    border-radius: 50%;
    background-color: var(--tertiary-color);
    position: relative;
    right: 4rem;
}

/* making the search button and input sit next to each other & centering */
.search-bar {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3rem;
}

/************************
    Advanced Search
*************************/

.advanced-search {
    background-color: var(--background-color);
}

.advanced-search p {
    margin: 0 auto;
    padding: .5rem 2rem 1rem 2rem;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    width: fit-content;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

/*******************
    Filters
*******************/

/*******************
    Drop-Down
*******************/

.dropButton {
    background-color: var(--background-color);
    color: rgb(59, 59, 59);
    padding: 1rem;
    border: none;
    cursor: pointer;
    margin: 0 4rem 0 1rem;
    border: .1rem solid rgb(128, 126, 126);
    border-radius: 2rem;
  }

  .dropButton img{
    width: 1.5rem;
  }
  
  /* Dropdown button on hover & focus */
  .dropButton:hover, .dropButton:focus {
    background-color: var(--primary-color);
  }
  /* positioning */
  .sort {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Hidden by Default */
  .dropdown-filter {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    padding: 1rem;
  }

  .dropdown-filter li {
    padding: 1rem;
  }

  .dropdown-filter li:hover {
    background-color: var(--secondary-color);
    color: white;
  }

  /* Show the dropdown menu */
  .show {display:block;}

/***********************
    Suprise Button
************************/
.button-icon {
    width: 2rem;
    padding-right: 2rem;
}

.button {
    background-color: #A3A1D0;
    border: none;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: 2rem 2rem 2rem 4rem;
}

.button p {
    padding-right: 1rem;
    padding-left: 2rem;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: var(--secondary-color);
}

#suprise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

/*******************
    Pokemon
*******************/

/* pokemon content box */
#pokemon {
    background-color: var(--primary-color);
    border: .1rem solid var(--secondary-color);
    border-radius: 2rem;
}

/* hexadecimal number under pokemon */
#pokemon span {
    color: var(--secondary-color);
}

/* pokemon name and skills buttons */
.pokemonContent {
    margin: 1rem;
}

/* pokemon image */

/**************************
    Pokemon Skills
***************************/

.grass {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #9BCB50;
}

.poison {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #B97FC9;
    color: white;
}

.fire {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #FC7C23;
    color: white;
}

.flying {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background: linear-gradient(#3DC7EF 50%, #BCB8B8 50%);
}

.water {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #4592C4;
    color: white;
}

.bug {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #729F40;
    color: white;
}

.normal {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #A2ABAF;
}

.psychic {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #F364B9;
    color: white;
}

.ice {
    padding: .4rem 1.5rem .4rem 1.5rem;
    border-radius: 1rem;
    border: none;

    background-color: #51C4E6;
    color: white;
}

/************************
   Load More Button
*************************/

.loadMore {
    padding: .8rem 3rem .8rem 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2rem;

    background-color: var(--background-color);
    border: .15rem solid var(--secondary-color);
    border-radius: .8rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
    }

#more {
    padding-bottom: 2rem;
}

.loadMore:hover {
    background-color: var(--secondary-color);
    color: white;
}


/*******************
    Footer
*******************/
footer{
    background-color: var(--secondary-color);
}

footer p {
    color: white;
    padding: 0 4rem 2rem 4rem;
}
.footer {
    display: flex;
    column-gap: 1.5rem;
    padding: 2rem 4rem 2rem 4rem;
}

.footer li a{
    color: white;
}

/****************************************
            MY POKEMON PAGE
****************************************/

/*******************
    Next function
*******************/

.transform {
    width: 2rem;
    transform: rotate(90deg);
}

.transform-left {
    width: 2rem;
    transform: rotate(-90deg);
}

.next button {
    padding: .5rem;
    display: block;
    height: 4rem;
    border: none;
    background-color: var(--secondary-color);

    margin: 0 1rem 0 1rem;
    border-radius: 1rem;
}

.next button span {
    padding: .5rem;
    color: var(--primary-color);
    font-size: 1.25rem;
}

#hex {
    color: white;
    font-weight: bold;
}

.next {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}


/* pokemon version balls */
.ball {
    width: 1.5rem;
}


/*******************
    Call to Action
*******************/

.cta {
    padding: 2rem 2rem 2rem 4rem;
    grid-row-start: 2;
}

.cta p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-right: 2rem;
}

.cta button {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--tertiary-color);
    border: none;
}

.cta button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.responsive {
    max-width: 100%;
    height: auto;
}

/* making game version sit next to each other */
.versionFlex {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.versionFlex p {
    font-weight: bold;
}

.information div .bold {
    padding-bottom: 1rem;
    font-weight: bold;
}

.information div p {
    padding-bottom: 2rem;
}

/* making type buttons sit next to each other */
.type ul {
    display: flex;
    gap: 2rem;
}

.type p{
    font-weight: bold;
    padding-bottom: 1rem;
}

/* stats */
/* creating graph */
/* making the line */
.vertical span {
    width: 3rem;
    height: .5rem;
    border: .1rem solid var(--secondary-color);
    margin: 0 2rem .5rem 2rem;
}
/* using flex to make lines display vertical */
.vertical {
    display: flex;
    flex-direction: column;
}
/* using grid to create stats chart */
.statsContent {
    grid-column-start: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 2rem;
    margin-top: 2rem;
    justify-items: center;
}

/* stats title */
.stats p{
    font-weight: bold;
    margin-left: 4rem;
    padding-top: 2rem;
}

/* stats categories */
#statsTitle {
    padding-top: 1rem;
    border: none;
    text-align: center;
}
/* adding fill to lines */
.fill {
    background-color: var(--secondary-color);
}

.weak p {
    font-weight: bold;
    padding-bottom: 1rem;
}
/* using flex so buttons sit next to each other */
.weak-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* evolutions */

.arrow {
    width: 5rem;
}

.evolutionTitle {
    font-weight: bold;
    padding-bottom: 1rem;
}

.pokeEvolution {
    background-color: var(--primary-color);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokeEvolution p {
    font-weight: bold;
    padding: .5rem;
}

.pokeEvolution p span {
    padding-left: .5rem;
    color: var(--secondary-color);
}

.container {
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: var(--background-color);

}

.grid div {
    padding: 2rem;
}

.pokem {
    background-color: var(--primary-color);
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
}

/*******************************************
                Media Queries 
********************************************/
/* for tablet */
@media only screen and (min-width: 768px) {
    
    /*******************
        Grid
    *******************/
        .pokemonGrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: auto;
            width: 80%;
            padding-bottom: 2rem;
        }
        #myPokemonGrid {
            /* creating the grid */
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 6rem 4rem 20rem 6rem 23rem 26rem;
            margin-top: 2rem;
        }
        /* positioning description */
        .description {
            grid-row-start: 1;
            grid-column-start: 2;
            padding: 0 4rem 2rem 2rem;
            line-height: 2rem;
        }
        .pokeImage {
            margin: 0 2rem 0 4rem;
            background-color: var(--tertiary-color);
            border-radius: 1rem;
        
            /* positioning image */
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
        }
    
        .pokeImage img{
            /* centering image */
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        /* positioning version */
        .version {
            grid-column-start: 2;
            grid-row-start: 2;
    
            padding: 0 4rem 0 2rem;
        }
        /* creating information grid */
        .information {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            margin: 0 4rem 0 2rem;
            background-color: var(--primary-color);
            border-radius: 1rem;
            width: fit-content;
            padding: 2rem 2rem 0 2rem;
            column-gap: 4rem;
        }
    
        /* positioning information */
        #information {
            grid-row-start: 3;
            grid-row-end: 4;
        }
        /* positioning type */
        .type {
            grid-column-start: 2;
            grid-row-start: 4;
            padding: 2rem;
        }
    
        /* positioning stats */
        .stats {
            padding: 0 2rem 0 2rem;
            grid-column-start: 1;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        /* positioning weaknesses */
        .weak {
            grid-column-start: 2;
            grid-row-start: 5;
            margin-left: 2rem;
            padding-top: 2rem;
        }
    
        .evolution {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 6;
    
            margin: 0 auto;  
            padding-bottom: 2rem;  
        }
        .evolutionGrid {
            display: flex;
            gap: 1rem;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }    

        /* pokemon evolutions */
        .evolution {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 6;
        
            margin: 0 auto;  
            padding-bottom: 2rem;  
        }
        
        .evolutionGrid {
            display: flex;
            gap: 1rem;
        }

        /* styling the container */
        #container {
            background-color: var(--background-color);
            margin: 0 8rem 0 8rem;
        }

        /* styling the logo */

        .logo {
            width: 8rem;
            padding: 1rem;
        }

        /* styling nav items */

        .nav-icons {
            height: 2.5rem;
            padding-bottom: .5rem;
            text-align: center;
        }

        /* using flex to make the nav items sit to the right */
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 0 2rem 0 2rem;
            background-color: var(--secondary-color);
        }

        /* using flex to make the nav items direction horizontal */
        .nav-links {
            display: flex;
            column-gap: 3rem;
        }

        .nav-items {
            padding: 1rem;
            display: flex;
            row-gap: 1rem;
        }

        /* styling nav links */
        .nav-items a{
            color: white;
            text-align: center;
            text-decoration: none;
        }

        /* adding hover to nav links / icons / logo */

        .nav-items a:hover {
            color: #926a9e;
        }

        .nav-icons:hover {
            background-color: #926a9e;
            padding: .5rem;
        }

        .logo:hover{
            background-color: #926a9e;
    
        }
}


/* for desktop */

