/*******************************************
            Adding CSS Reset
********************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************
                My Styles 
********************************************/
/*******************
    Basic Styles
*******************/
/* adding color palette */
/* setting font hierarchy */

/* adding padding */
/*******************
    Navigation
*******************/

/* styling the logo */

.logo {
    width: 8rem;
    padding: 1rem;
}

/* styling nav items */

.nav-icons {
    height: 2.5rem;
    padding-bottom: .5rem;
    text-align: center;
}

/* using flex to make the nav items sit to the right */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

/* using flex to make the nav items direction horizontal */
.nav-links {
    display: flex;
    column-gap: 3rem;
}

.nav-items {
    padding: 1rem;
    display: flex;
    row-gap: 1rem;
}

/* styling nav links */
.nav-items a{
    color: white;
    text-align: center;
    text-decoration: none;
}

/* adding hover to nav links / icons / logo */

.nav-items a:hover {
    color: black;
}

.nav-icons:hover {
    background-color: black;
    padding: .5rem;
}

.logo:hover{
    background-color: black;
    
}