/*******************************************
            Adding CSS Reset
********************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************
                My Styles 
********************************************/
/*******************
    Basic Styles
*******************/
/* adding color palette */
:root {
    --primary-color: #F1ECF0;
    --secondary-color: #9C939F;
    --tertiary-color: #DCF2DD;
    --background-color: #FAFAFA;
}

body{
    background-color: var(--tertiary-color);
}
/* setting font hierarchy */

p {
    font-size: 18px;
}

/*******************
    Navigation
*******************/

/* styling the logo */

.logo {
    width: 8rem;
    padding: 1rem;
}

/* styling nav items */

.nav-icons {
    height: 2.5rem;
    padding-bottom: .5rem;
    text-align: center;
}

/* using flex to make the nav items sit to the right */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    background-color: var(--secondary-color);
}

/* using flex to make the nav items direction horizontal */
.nav-links {
    display: flex;
    column-gap: 3rem;
}

.nav-items {
    padding: 1rem;
    display: flex;
    row-gap: 1rem;
}

/* styling nav links */
.nav-items a{
    color: white;
    text-align: center;
    text-decoration: none;
}

/* adding hover to nav links / icons / logo */

.nav-items a:hover {
    color: black;
}

.nav-icons:hover {
    background-color: black;
    padding: .5rem;
}

.logo:hover{
    background-color: black;
    
}

/*******************
    Content
*******************/

/* styling the container */
#container {
    background-color: var(--background-color);
    margin: 0 8rem 0 8rem;
    height: 100vh;
}

/* styling the home page banner */
.banner {
    /* making the image responsive */
   max-width: 100%;
   height: auto;
   /* centering the image */
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}

/*******************
    Search Bar
*******************/

/* styling the search function */

.form-container {
    background-color: var(--secondary-color);
    margin-top: 4rem;
}
.search {
    width: 50%;
    border: none;
    padding: 2rem;

    border-radius: 3rem;
    border: .2rem solid var(--tertiary-color);
}

.search-icon {
    width: 2rem;
    padding: 1rem;
}

/* making the search button overlap the input form */
.search-submit {
    border: .2rem solid var(--tertiary-color);
    border-radius: 50%;
    background-color: var(--tertiary-color);
    position: relative;
    right: 4rem;
}

/* making the search button and input sit next to each other & centering */
.search-bar {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3rem;
}

/*******************
    Advanced Search
*******************/

.advanced-search {
    background-color: var(--background-color);
}

.advanced-search p {
    margin: 0 auto;
    padding: .5rem 2rem 1rem 2rem;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    width: fit-content;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}


/* styling filters */

.button-icon {
    width: 2rem;
    padding-right: 2rem;
}

.button {
    background-color: #A3A1D0;
    border: none;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: 2rem;
}

.button p {
    padding-right: 1rem;
    padding-left: 2rem;
    color: white;
    font-weight: bold;
}